.confirm {
    text-align: center;
    color: #424242;
    margin: 5px 0;
}

.confirmheader {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 0;
    margin: 10px 0;
}

.form {
    width: 80%;
    margin: 0 auto;
}

.title1,
.title2 {
    width: 25%;
    display: block;
    margin-left: 2%;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.data {
    display: block;
    width: 640px;
    float: left;
    font-size: 18px;
}